/* --------------------------------------- */
/* ----- Basic Setup ----- */
/* --------------------------------------- */


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/* create vars for CSS */
:root {
    --font-size-smallest: 1.5rem;
    --font-size-small: 1.8rem;
    --font-stack: 'Arial', sans-serif;
    --font-google: "Roboto", sans-serif;
    --font-weight: 300;
     
    --line-height-normal: 1.5;
    --line-height-small: 1.2;

    /* colors */

    --blue: blue;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;

    /* --primary-hero: #130f40; */
    --primary-hero: #1e1e2f;

    --primary-white: #f5f6fa;
    --primary-gray: #ecf0f1;
    --primary-black: #34495e;

    /* shadows */
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #8c7ae6;

    /* gutters */
    --container-max-width: 1180px;

    --gutter-huge: 12rem;
    --gutter-medium: 6rem;
    --gutter-normal: 3rem;
    --gutter-small-1: 2.5rem;
    --gutter-small: 2rem;

    /* timeline colors */
    --timeline-primary: #1d8cf8;
    --timeline-secondary: #4f537b;
    --timeline-info: #11cdef;
    --timeline-success: #00bf9a;
    --timeline-warning: #ff8d72;
    --timeline-danger: #fd5d93;

    /* timeline variables */
    --body-bg: #1e1e2f;
    --timeline-before-bg : #222a42;
    --timeline-body-bg: #27293d;
    --timeline-body-round: 3px;
    --timeline-body-shadow: 1px 3px 9px rgba(0,0,0, .1);

}

html {
    font-size: 62.5%; /* (16/10)*100 = 62.5% => 1rem = 10px */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: var(--font-size-small);
    font-family: var(--font-google);
    font-weight: 400;
    /* color: var(--white-1); */
    line-height: var(--line-height-normal);
    /* background: var(--black);
    overflow-x: hidden; */

}

ul {
    list-style-type: none;
}

.row {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

section {
    padding: 2em;
    border-bottom: var(--border-light);
}

img {
    object-fit: contain;
    max-width: 100%;
}

/* --------------------------------------- */
/* ----- Headlines and Paragraphs ----- */
/* --------------------------------------- */

.main-section-heading {
    text-align: center;
    margin-top: 10rem;
    position: relative;
}

.main-section-heading::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: #0062b9;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}


/* --------------------------------------- */
/* ----- Buttons and Links ----- */
/* --------------------------------------- */

a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--secondary-color);
    cursor: pointer;
  }

.fancy-button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: var(--body-bg);
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .fancy-button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .fancy-button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .fancy-button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .fancy-button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  

  .modal {
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index:-1;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal.open {
    opacity: 1;
    z-index: 999;
  }

  .modal-inner {
    background-color: var(--primary-hero);
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
  }

  .modal-inner h2 {
    margin: 0;
  }

  .modal-inner p {
    line-height: 24px;
    margin: 10px 0;
  }
/* --------------------------------------- */
/* ----- Navigation ----- */
/* --------------------------------------- */

.nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--primary-white);
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 3.5rem;
    /* background-color: var(--bg-color); */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/* Nav UL Items */
.nav__items {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav__item {
    margin-right: var(--gutter-small);
    font-weight: bold;
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: var(--primary-black);
    transition: all .2s;
}

.nav__link:hover {
    color: var(--secondary-color);
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 150px;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

.nav__link.hover-text:hover .tooltip-text {
  visibility: visible;
}

#left {
    top: 5px;
    right: 150%;
  }

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* --------------------------------------- */
/* ----- Hero ----- */
/* --------------------------------------- */


.hero {
    background-color: var(--primary-hero);
    color: #fff;
    padding: 2em;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    row-gap: 20rem;
    margin: auto;
}

.hero-content {
    max-width: 60rem;
}

.hero h1 {
    font-size: 7rem;

}

.hero h2 {
    color: #3498db;
}

.hero-text {
    margin-top: 2rem;
    color: rgb(193, 206, 254);
}

/* hero scrolldown button */
.scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;
  }
  
  .scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #2a547066;
  }
  
  @keyframes scrolldown-anim {
    0% {
      opacity: 0;
      height: 6px;
    }
  
    40% {
      opacity: 1;
      height: 10px;
    }
  
    80% {
      transform: translate(0, 20px);
      height: 10px;
      opacity: 0;
    }
  
    100% {
      height: 3px;
      opacity: 0;
    }
  }
  
  .chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }
  
  .chevrondown:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate;
  }
  
  .chevrondown:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms;
  }
  
  @keyframes pulse54012 {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 0.5;
    }
  }

/* --------------------------------------- */
/* ----- About Section ----- */
/* --------------------------------------- */

#about {
    background-color: var(--primary-hero);
    color: var(--primary-white);
    height: auto;
    
}

.about-container {
    margin-top: 5rem;
    height: auto;
    
    display: flex;
    justify-content: center;
    align-items:center;

    flex-wrap: wrap;

    gap: 8rem;
    padding: 2rem 2rem 2rem 2rem;

    /* background-color: purple; */
    /* border: 1px solid rgb(193, 206, 254); */
}

.about-content {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

}

.about-content-text {
    max-width: 50rem;
    padding: 2rem 2rem 2rem 2rem;

    /* styling */
    line-height: var(--line-height-normal);
    font-size: 1.8rem;
    font-weight: normal;
    color: rgb(193, 206, 254);

    /* background-color: #00bf9a; */

}

.about-content-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.about-icons-container i {
    font-size: 3.5rem;
}

.about-icons-container a {
    color: var(--primary-white);
}

.about-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    background-color:  rgba(1, 2, 3, 0.4);
    transition: all 0.3s ease;

}

.about-icon-container:hover {
    box-shadow: 0 3px 7px var(--secondary-shadow);
    transform: scale(1.1);
}

.about-photo {
    max-width: 350px;
    max-height: 450px;
    border-radius: 25px;

    padding: 2rem 2rem 2rem 2rem;

    /* background-color: red; */
}

/* --------------------------------------- */
/* ----- Experience Section ----- */
/* --------------------------------------- */

#experience {
    background-color: var(--primary-hero);
    color: var(--primary-white);
}

/* timeline  */
.container-timeline {
    max-width: 650px;
    margin: 50px auto;
}

.timeline {
    position: relative;
    padding-left: 6.5rem;
    margin: 0 0 0 30px;
    color: white;
}

/* timeline pseudo-element */

.timeline::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    /* background: var(--timeline-body-bg); */
    background: var(--primary-white);

    /* border: 1px solid rgb(193, 206, 254); */
}

.timeline-container {
    position: relative;
    margin-bottom: 2.5rem;
}

.timeline-icon {
    position: absolute;
    left: -88px;
    top: .5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--timeline-primary);
    text-align: center;
    font-size: 2rem;
    background: white;
}

  .timeline-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

  .timeline-body {
    background: var(--timeline-body-bg);
    border-radius: var(--timeline-body-round);
    padding: 20px 20px 15px;
    /* box-shadow: var(--timeline-body-shadow); */
    /* box-shadow: 0 3px 7px var(--secondary-shadow); */
    border: 1.25px solid rgb(193, 206, 254);
    box-shadow: 0 3px 7px var(--secondary-shadow);

    /* cursor: pointer; */

  }
  
  /* add chevron to body */
.timeline-body::before {
    content: '';
    background: inherit;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: -10px;
    transform: rotate(45deg);
    border-radius: 0 0 0 2px;

    border-left: 1.25px solid rgb(193, 206, 254);
    border-bottom: 1.25px solid rgb(193, 206, 254);
}

.timeline-container.primary {
    background-color: var(--timeline-primary) !important;

}

.timeline-title {
    margin-bottom: 1.4rem;
}

.timeline-title .badge {
    background: rgba(29, 140, 248, 0.6);
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;

}

.timeline-subtitle {
    font-weight: 300;
    font-style: italic;
    opacity: .4;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 12px;
}

.timeline-content {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.timeline-technologies {
    margin-top: 2rem;

    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 1rem;
}


.timeline-technologies-items {
    background: var(--timeline-secondary);
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
}

/* --------------------------------------- */
/* ----- Projects Section ----- */
/* --------------------------------------- */

#projects {
    background-color: var(--primary-hero);
    color: var(--primary-white)

}

.projects-container {

    height: auto;
    margin-top: 5rem;
    
    /* background-color: purple; */
    display: flex;
    gap: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px;

    color: var(--primary-white);
}



.project-item {
    /* sizing */

    height: 600px;
    width: 300px;

    /* styling */

    border: 6px solid transparent;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 3px 7px var(--secondary-shadow);
    
    /* background: rgb(5, 6, 45); */
    background: var(--timeline-body-bg);

    /* flex container */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
    transition: transform 0.3s ease;
    
}

.project-item:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 7px #D4E67A; 
}

.project-photo {
    /* margin-top: 1.5rem; */
    width: 200px;
    height: 150px;
    border-radius: 20px;
}

.project-item h3 {
    font-size: 3rem;
    font-weight: 700;
}

.project-technologies {
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.project-technologies-item {
    background: var(--timeline-secondary);
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;

}

.project-description {
    height: 15rem;
    overflow: hidden;
    font-size: 1.5rem;
    padding: 0 1.8rem 0 1.8rem;
    
}

.project-link {
    display: inline-block;
    background-color: var(--primary-black);
    color: #fff;
    font-size: var(--font-size-smallest);
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;

}

.project-link:hover {
    background-color: #0056b3;
}



/* --------------------------------------- */
/* ----- Skills Section ----- */
/* --------------------------------------- */

#skills {
    background-color: var(--primary-hero);
    color: var(--primary-white)
}

.skills-main-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    flex-wrap: wrap;

    /* background-color: purple; */
}

.skills-container {
    width: 100%;
    height: auto;

    display:flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;

    padding-left: 15rem;

     /* background-color: red; */
}

.skills-sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    row-gap: 6rem;

    padding: 4rem 2rem 4rem 2rem;
    /* top right bottom left */
    margin: 0rem 2rem 2rem 0rem;

    /* background-color: blue; */

}

.skills-sub-container i {
    font-size: 5rem;

    border-radius: 11px;
    box-shadow: 0 3px 7px var(--secondary-shadow);
    padding: 2.5rem;
    margin: 1rem;

    /* background-color: green; */
}

.fake-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
 
    /* background-color: var(--primary-grey); */
    border-radius: 11px;
    box-shadow: 0 3px 7px var(--secondary-shadow);
    padding: 2.5rem;
    margin: 0rem 1rem 1rem 1rem;

    width: 20.3rem;
    height: 18rem;

    /* background-color: green; */

}

.fake-icon img {
    height: 6rem;    
    /* background-color: purple; */
}

.fake-icon-link {
    color: var(--primary-white);
}

.icon-content {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
    
    height: 4.7rem;
    width: 18rem;
}

/* --------------------------------------- */
/* ----- Contact Section ----- */
/* --------------------------------------- */

#contact {
    height:75vh;
    background-color: var(--primary-hero);
    color: var(--primary-white)
}

.contact-cta-heading {
    font-size: 5rem;
    color: rgb(193, 206, 254);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}

/* --------------------------------------- */
/* ----- Footer ----- */
/* --------------------------------------- */

footer {
    /* background-color: var(--primary-black); */
    background-color: var(--primary-hero);
    color: #fff;
    /* border-top: 2px solid #8A2BE2; */
    box-shadow: 0px 0px 8px var(--secondary-shadow);
    text-align: center;
    padding: 1em;
}

.footer__social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--gutter-normal) 0;
    list-style: none;
}

.footer__social-link-item:not(:last-of-type) {
    margin-right: var(--gutter-small);
}

.footer__social-image {
    height: 4rem;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.footer__social-image.twitter {
    height: 3.2rem;
}

.footer__social-image:hover {
    filter: brightness(5);
    transform: translateY(-5px);
}

.footer-credit {
    color: var(--primary-gray);
    font-weight: 600;
}

.copy-right {
    color: #A8B2D1;

}

/* --------------------------------------- */
/* ----- Mobile Styles ----- */
/* --------------------------------------- */

@media only screen and (max-width: 720px) {

    nav ul {
        position: fixed;
        background-color: rgba(1, 2, 3, 0.7);
        flex-direction: column;
        top: 86px;
        left: 70%;
        width: 25%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;

        font-size: 1.5rem;
      }

    .nav__link {
        color: white;
      }
   
      .burger-menu {
        display: block;
      }
    
      nav ul.show {
        transform: translateX(0);
      }

      .hero {
        row-gap: 5rem;
      }

    
      .skills-container {
        padding: 2rem;
        
      }

      .skills-sub-container i {
        font-size: 4rem;
        padding: 1rem;
     
    }
    
}