/* --------------------------------------- */
/* ----- Basic Setup ----- */
/* --------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --font-size-small: 1.8rem;
    --font-stack: 'Arial', sans-serif;

    --line-height-normal: 1.7;
    --line-height-small: 1.2;

    --blue: blue;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;


    --container-max-width: 1180px;

    --gutter-huge: 12rem;
    --gutter-medium: 6rem;
    --gutter-normal: 3rem;
    --gutter-small-1: 2.5rem;
    --gutter-small: 2rem;
}

html {
    font-size: 62.5%; /* (16/10)*100 = 62.5% => 1rem = 10px */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: var(--font-size-small);
    font-family: var(--font-stack);
    font-weight: 400;
    /* color: var(--white-1); */
    line-height: var(--line-height-normal);
    /* background: var(--black);
    overflow-x: hidden; */

}

.row {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

section {
    padding: 2em;
    border-bottom: var(--border-light);
}

img {
    object-fit: contain;
    max-width: 100%;
}


/* Add some basic styling to the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

/* --------------------------------------- */
/* ----- Headlines and Paragraphs ----- */
/* --------------------------------------- */



/* --------------------------------------- */
/* ----- Buttons and Links ----- */
/* --------------------------------------- */

a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--secondary-color);
  }

/* --------------------------------------- */
/* ----- Navigation ----- */
/* --------------------------------------- */

.nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #555;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 3.5rem;
    /* background-color: var(--bg-color); */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/* Nav UL */
.nav__items {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav__item {
    margin-right: var(--gutter-small);
    font-weight: bold;
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: white;
    transition: all .2s;
}

.nav__link:hover {
    color: var(--secondary-color);
}

/* --------------------------------------- */
/* ----- Hero ----- */
/* --------------------------------------- */

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    gap: 2rem;
    margin: auto;
}

.hero h1 {
    font-size: 7rem;

}

/* --------------------------------------- */
/* ----- About Section ----- */
/* --------------------------------------- */

#about {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

/* --------------------------------------- */
/* ----- Experience Section ----- */
/* --------------------------------------- */

#experience {
    background-color: #f4f4f4;
}

.experience-item {
    margin-bottom: 2em;
}

.experience-item h3 {
    color: #333;
}

.date-range {
    color: #777;
    margin-bottom: 0.5em;
}

.experience-description {
    line-height: 1.4;
}

/* Projects Section */
#projects {
    background-color: #e6f7ff;
}

.project-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5em;
    margin-bottom: 1.5em;
}

.project-item h3 {
    color: #333;
}

.project-description {
    margin-bottom: 1em;
}

.project-link {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.project-link:hover {
    background-color: #0056b3;
}

/* --------------------------------------- */
/* ----- Skills Section ----- */
/* --------------------------------------- */

#skills {
    background-color: #d9ffd9;
}

.programming-languages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.language {
    text-align: center;
    margin: 0.5em;
}

.language img {
    width: 50px; /* Adjust the size as needed */
    height: 50px;
    margin-bottom: 0.5em;
}

.language p {
    color: #333;
}


/* --------------------------------------- */
/* ----- Footer ----- */
/* --------------------------------------- */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.footer__social-links {
    display: flex;
    justify-content: center;
    padding: var(--gutter-normal) 0;
    list-style: none;
}

.footer__social-link-item:not(:last-of-type) {
    margin-right: var(--gutter-small);
}

.footer__social-image {
    height: 4rem;
}